ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    list-style: none;
}

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(to right, rgb(41, 3, 9), rgb(32, 8, 32)) ;
    margin: 0;
    box-sizing: border-box;
}